<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo_0100_HelloWorld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringDemo1.war">
      <element id="artifact" artifact-name="SpringDemo_0100_HelloWorld:war exploded" />
    </root>
  </artifact>
</component>